@{
    ViewData["Title"] = "Home Page";
}
<style>
    body{
        background: linear-gradient(to bottom right, skyblue, pink);
    }
</style>

<div class="text-center">
    <h1 class="display-4">Bienvenido a Registros</h1>
    <p>acerca de <a href="https://learn.microsoft.com/aspnet/core">Pagina elaborada con ASP.NET Core</a>.</p>
</div>
